@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primario-1:hsl(300, 43%, 22%);
    --primario-2: hsl(333, 80%, 67%);
    --neutral-1: hsl(303, 10%, 53%);
    --neutral-2: hsl(300, 24%, 96%);
    --white:hsl(0, 0%, 100%);
}


.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
}

/* Row top */

.row__top-bg {
    background-image: url(../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
}

.row-top__container {
    height: 50vh;
}

.row-top {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.r-t__left {
    width: 40%;
}

.r-t__right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* Box top 1 */

.title {
    font-weight: 700;
    font-size: 5rem;
    width: 70%;
    color: var(--primario-1);
}

.paragraph {
    margin-top: 2rem;
    width: 80%;
    line-height: 1.3;
    color: var(--neutral-1);
    font-size: 1.9rem;
}

/* Box top 2 */



.review {
    background-color: var(--neutral-2);
    display: flex;
    width: 75%;
    padding: 2rem;
    border-radius: 10px;
    align-items: center;
}

.review__paragraph {
    margin-left: 2rem;
    color: var(--primario-1);
    font-weight: 700;
}

.review__1 {
    align-self: flex-start;
}

.review__2 {
    align-self: center;
}

.review__3 {
    align-self: end;
}


/* Row bottom */

.row__bottom-container {
    height: 50vh;
    width: 100%;
}

.row__bottom-bg {
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
}

.cards__container{
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user__card {
    width: 25%;
    background-color: var(--primario-1);
    padding: 4rem;
    border-radius: 10px;
}

.user__info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.card__img {
    border-radius: 50%;
    width: 5rem;
}

.user__paragraph {
    color: var(--white);
    font-weight: 300;
    margin-top: 2rem;
    font-size: 1.8rem;
}

.user__name {
    color: white;
}

.user__verification {
    color: var(--primario-2);
}

.card1{
    align-self: flex-start;

}

.card3 {
    align-self: flex-end;
}
